# Apriori Algorithm:

### First we need to install mlxtend library, for that we need a line of code to run 

### So,we run this code (similar to python code) in code block with code
`!conda install mlxtend --channel conda-forge`
### This may take some time.

### After that we can simply run the following code

In [1]:
# import the necessary files
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
# import the dataset
dataset = pd.read_csv('./grocery.csv',header=None)

In [3]:
dataset

         0        1        2
0  HotDogs     Buns  Ketchup
1  HotDogs     Buns      NaN
2  HotDogs     Coke    Chips
3    Chips     Coke      NaN
4    Chips  Ketchup      NaN
5  HotDogs     Coke    Chips

In [4]:
# adjust the data in form of list of list
data = []
for i in range(len(dataset)):
    data.append([j for j in dataset.values[i] if j == j])

In [5]:
data

[['HotDogs', 'Buns', 'Ketchup'],
 ['HotDogs', 'Buns'],
 ['HotDogs', 'Coke', 'Chips'],
 ['Chips', 'Coke'],
 ['Chips', 'Ketchup'],
 ['HotDogs', 'Coke', 'Chips']]

In [6]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

    Buns  Chips   Coke  HotDogs  Ketchup
0   True  False  False     True     True
1   True  False  False     True    False
2  False   True   True     True    False
3  False   True   True    False    False
4  False   True  False    False     True
5  False   True   True     True    False

In [7]:
freq_itemsets = apriori(df, min_support=0.33, use_colnames=True)

In [8]:
freq_itemsets

    support                itemsets
0  0.333333                  (Buns)
1  0.666667                 (Chips)
2  0.500000                  (Coke)
3  0.666667               (HotDogs)
4  0.333333               (Ketchup)
5  0.333333         (HotDogs, Buns)
6  0.500000           (Coke, Chips)
7  0.333333        (HotDogs, Chips)
8  0.333333         (Coke, HotDogs)
9  0.333333  (Coke, HotDogs, Chips)

In [9]:
my_rules = association_rules(freq_itemsets,min_threshold=0.6)

In [10]:
my_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Buns),(HotDogs),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf
1,(Coke),(Chips),0.500000,0.666667,0.500000,1.000000,1.5,0.166667,inf
2,(Chips),(Coke),0.666667,0.500000,0.500000,0.750000,1.5,0.166667,2.0
3,(Coke),(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.0
4,"(Coke, HotDogs)",(Chips),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf
5,"(Coke, Chips)",(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.0
6,"(HotDogs, Chips)",(Coke),0.333333,0.500000,0.333333,1.000000,2.0,0.166667,inf
7,(Coke),"(HotDogs, Chips)",0.500000,0.333333,0.333333,0.666667,2.0,0.166667,2.0

In [11]:
my_rules['length'] = my_rules['antecedents'].apply(lambda x: len(x)) + my_rules['consequents'].apply(lambda x: len(x))

In [12]:
my_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,length
0,(Buns),(HotDogs),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf,2
1,(Coke),(Chips),0.500000,0.666667,0.500000,1.000000,1.5,0.166667,inf,2
2,(Chips),(Coke),0.666667,0.500000,0.500000,0.750000,1.5,0.166667,2.0,2
3,(Coke),(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.0,2
4,"(Coke, HotDogs)",(Chips),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf,3
5,"(Coke, Chips)",(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.0,3
6,"(HotDogs, Chips)",(Coke),0.333333,0.500000,0.333333,1.000000,2.0,0.166667,inf,3
7,(Coke),"(HotDogs, Chips)",0.500000,0.333333,0.333333,0.666667,2.0,0.166667,2.0,3

In [13]:
my_rules = my_rules[my_rules['length']==3]

In [14]:
my_rules[["antecedents","consequents","confidence"]]

        antecedents       consequents  confidence
4   (Coke, HotDogs)           (Chips)    1.000000
5     (Coke, Chips)         (HotDogs)    0.666667
6  (HotDogs, Chips)            (Coke)    1.000000
7            (Coke)  (HotDogs, Chips)    0.666667

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

dataset = pd.read_csv('./filename.csv',header=None)
data = []
for i in range(len(dataset)):
    data.append([j for j in dataset.values[i] if j == j])
    
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)

freq_itemsets = apriori(df, min_support=0.33, use_colnames=True)
my_rules = association_rules(freq_itemsets,min_threshold=0.6)

my_rules['length'] = my_rules['antecedents'].apply(lambda x: len(x)) + 
                     my_rules['consequents'].apply(lambda x: len(x))
    
my_rules = my_rules[my_rules['length']==3] # replace 3 by maximum length in your numerical calculation
my_rules[["antecedents","consequents","confidence"]]